.vscode/
**/.DS_Store
**/build/
main
**/CMakeFiles/
**/glfw_binary/
**/CMakeCache.txt
**/cmake_install.cmake

PreProcessing/Makefile
PostProcessing/Makefile
Processing/Makefile

.vscode/settings.json
**/myFem
data/mesh.txt
.vscode/launch.json

Processing/data/mesh_example.txt
Processing/data/mesh_example.txt
Processing/data/mesh.txt
Processing/data/problem_example.txt
Processing/data/problem.txt
Processing/data/UV_example.txt
Processing/data/UV.txt

final-report.aux
final-report.log
final-report.out
final-report.fls
final-report.fdb_latexmk
final-report.synctex.gz

preliminary-report.aux
preliminary-report.log
preliminary-report.out
preliminary-report.fls
preliminary-report.fdb_latexmk
preliminary-report.synctex.gz